body{
    background-color:#f3f3f3;
    color:#0000ff;

    font-family: Lucida Handwriting, Brush Script MT, cursive;
    font-size: 12px;
    font-weight: 360;
    line-height: 1.8em;
    margin:0;
}

.box-1{
    background-color:#333;
    color:#fff;
}